#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

th, td {
    padding-left: 1rem;
    padding-right: 1rem;
}

@media (max-width: 1024px) {
    .movie-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .movie-grid {
        grid-template-columns: 1fr;
    }
}
.movie-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 4rem;
    padding: 0;
    margin: 0;
}
.movie-card {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
    overflow: hidden;
    width: 18rem;
}
.movie-card img {
    border-radius: 8px;
    width: 18rem;
    height: auto;
}

.movie-title {
    font-weight: bold;
    font-size: 24px;
    padding: 0.5rem;
    text-overflow: ellipsis;
}
.title{
    font-size: 56px;
}
.search {
    display: flex;
    justify-content: flex-end;
    padding: 2rem;
    margin-bottom: 2em;
}
.searchbar {
    font-size: 24px;
    height: 1.2em;
    width: 15em;
    padding-left: 1rem;
    margin-right: 5px;
    color: #FFECCC;
    background-color: #453f3f;
    border: 2px solid #FFECCC;
    border-radius: 8px;
    transition: border-color 0.2s ease;
    box-shadow: inset 3px 3px 6px #2a2a2a, inset -3px -3px 6px #4d4d4d;
}
.search-icon {
    align-content: center;
    background-color: #453f3f;
    box-shadow: 4px 4px 6px #272424, -1px -1px 6px #272424;
    padding-bottom: 0;
    padding-top: 0;
    padding-left: 10px;
    padding-right: 10px;
    height: auto;
    color: #FFECCC;
    transition: box-shadow 0.2s ease;
}
    .search-icon:hover {
        box-shadow: inset 3px 3px 6px #272424, inset -3px -3px 6px #453f3f;
        border: none;
    }
    .searchbar:focus,
    .searchbar:focus-visible {
        border-color: #F25F5C !important;
        outline: none;
        box-shadow: none;
    }