:root {
    font-family: 'Inter', sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color: #FFECCC;
    color-scheme: light dark;
    background-color: #332E2E;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    align-content: center;
}
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
    align-content: center;
    background-color: #453f3f;
    box-shadow: 4px 4px 6px #272424, -1px -1px 6px #272424;
    padding-bottom: 0;
    padding-top: 0;
    padding-left: 10px;
    padding-right: 10px;
    border-radius:8px;
    height: auto;
    color: #FFECCC;
    transition: box-shadow 0.2s ease;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    border: none;
    text-align:center;
}
    button:hover {
        box-shadow: inset 3px 3px 6px #272424, inset -3px -3px 6px #453f3f;
        border: none;
    }


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
